<div class="homeviewWrapper">
  <button
    type="button"
    class="toggle"
    data-bs-toggle="collapse"
    data-bs-target="#buttonsCol"
    aria-expanded="true"
    aria-controls="buttonsCol"
  >
    <img class="toggle__icons" src="assets/icons/v.svg" />
    Erstellen
  </button>
  <div id="buttonsCol" class="collapse show">
    <div class="wrapper">
      <app-homeview-button
        buttontitle="Neuer Issue Collector"
        (click)="newIssue()"
      >
      </app-homeview-button>

      <app-homeview-button
        buttontitle="Neue Dynamic Facilitation Session"
        (click)="newSession()"
      >
      </app-homeview-button>
    </div>
  </div>
  <hr />
  <button
    class="toggle"
    data-bs-toggle="collapse"
    data-bs-target="#meetingsCol"
    aria-expanded="true"
    aria-controls="meetingsCol"
  >
    <img class="toggle__icons" src="assets/icons/v.svg" />
    Dynamic Facilitations
  </button>
  <div id="meetingsCol" class="collapse show">
    <div class="wrapper meetings">
      <app-homeview-meeting
        *ngFor="let data of meetingsMock.slice().reverse()"
        [meeting]="data"
      ></app-homeview-meeting>
    </div>
  </div>
  <hr />
  <button
    class="toggle"
    data-bs-toggle="collapse"
    data-bs-target="#moderatorsCol"
    aria-expanded="true"
    aria-controls="moderatorsCol"
  >
    <img class="toggle__icons" src="assets/icons/v.svg" />
    Moderatoren
  </button>
  <div id="moderatorsCol" class="collapse show">
    <div class="wrapper moderators">
      <div class="moderatorAdd" [matMenuTriggerFor]="m.menu" place>
        <div class="moderatorAdd__plus">
          <img class="plusIcon" src="assets/icons/pluswhite.svg" />
        </div>
        <p class="moderatorAdd__title">Neuer Moderator</p>
      </div>
      <app-moderator-homeview
        *ngFor="let data of moderators"
        [moderator]="data"
      ></app-moderator-homeview>
    </div>
  </div>
</div>

<app-moderator-detailed #m></app-moderator-detailed>
