<div class="wrapper">
  <div class="upperWrapper">
    <h1 class="title">Issues we want to tackle</h1>

    <button class="voteButton" [disabled]="disabledVote">
      Thema auswählen
    </button>
  </div>

  <app-add-button
    [flipchart]="false"
    class="addButton"
    *ngIf="!addingIssue"
    (click)="ToggleInput()"
  ></app-add-button>
  <app-item
    *ngIf="addingIssue"
    (submitCanceled)="cancelSubmit()"
    (submitIssue)="issueSubmit($event)"
    [counter]="counter"
  ></app-item>
  <div class="issues-wrapper">
    <app-added-issue
      *ngFor="let issue of issues.slice().reverse()"
      [newIssue]="issue"
    ></app-added-issue>
  </div>
</div>
