@use "styles/colors" as c;

.item-box {
  background-color: c.$item-background;
  width: 100%;
  border-radius: 16px;
  padding: 15px;
}

.issue-box {
  background-color: c.$header-background;
  width: 305px;
  border-radius: 16px;
  padding: 15px;
}

.item-input-wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 0px 5px;
  margin-bottom: 5%;
}

.submit-cancel-buttons {
  border: none;
  background-color: transparent;
}

#item-input {
  resize: none;
  height: auto;
  border: none;
  height: 38px;
  width: 90%;
  margin-left: 5px;
}

#item-input:focus {
  outline: none;
}

#submitbtn {
  float: right;
}

.radio-color-picker {
  display: none;

  &:checked + .color-picker-lable {
    span {
      transform: scale(1.25);
    }
    @each $name, $value in c.$shift-colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    }
  }
}

#random {
  display: none;

  &:checked + label[for="random"] {
    border: 2px solid c.$dark-grey;
    border-radius: 100%;
    span {
      transform: scale(1.25);
    }
  }
}

label[for="random"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span {
      transform: scale(1.25);
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform 0.2s ease-in-out;
  }
}

.color-picker-lable {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span {
      transform: scale(1.25);
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform 0.2s ease-in-out;
    @each $name, $value in c.$shift-colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.color-picker-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
