<div class="issue-box">
  <div class="item-input-wrapper">
    <label for="item-input">{{ counter }}</label>
    <input
      autocomplete="off"
      type="text"
      id="item-input"
      name="item-input"
      #textInput
    />
  </div>

  <button id="cancelbtn" class="submit-cancel-buttons" (click)="CancelSubmit()">
    <img class="icons" src="../../../../assets/icons/xwhite.svg" />
  </button>

  <button id="submitbtn" class="submit-cancel-buttons" (click)="SubmitIssue()">
    <img class="icons" src="../../../../assets/icons/checkwhite.svg" />
  </button>
</div>
