@use "styles/colors" as c;

.item-box {
  background-color: c.$item-background;
  width: 314.4px;
  min-height: 106px;
  border-radius: 16px;
  padding: 15px;
}

/*.item-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}*/

.item-input-wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 0px 5px;
  margin-bottom: 5%;
}

.submit-cancel-buttons {
  border: none;
  background-color: transparent;
}

#item-input {
  resize: none;
  height: auto;
  border: none;
  height: 38px;
  width: 235px;
  margin-left: 5px;
}

#item-input:focus {
  outline: none;
}

#submitbtn {
  float: right;
}
