@use "styles/colors" as c;
.header {
  background-color: c.$header-background;
  color: c.$dark-grey;
  padding-left: 1%;
  height: 65px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__title {
    height: 100%;
    width: 306px;
    border: none;
    color: c.$dark-grey;
    background-color: c.$main-background;
    font-size: 23px;
    font-style: semi-bold;
    //semi-bold
    margin-left: 2%;
  }

  &__right {
    min-width: 800px;
    justify-content: flex-end;
    right: 0;
    text-align: right;
    margin: 0.6%;
  }

  &__left {
    min-width: 800px;
    justify-content: flex-start;
    right: 0;
  }

  &__toggleCollumn {
    color: white; //!!!!! doppelt und dreifach
    border: none;
    background-color: c.$dark-grey;
    width: 299px;
    height: 44px;
    border-radius: 6px;
    margin-right: 1%;
    font-size: 18px;
  }
  &__logo {
    color: white;
    text-decoration: none;
    background-color: c.$main-background;
  }
  &__dots {
    color: white;
    text-decoration: none;
  }
}
