<div class="header">
  <div class="header__left">
    <a (click)="goToHomeview()"
      ><img class="header__logo" src="assets/images/DFLogo.png"
    /></a>
    <button
      [hidden]="editTitleState"
      *ngIf="router.url.includes('flipcharts')"
      (click)="editTitle()"
      class="header__title"
    >
      {{ activeMeeting.title }}
    </button>
    <input
      #editInput
      class="header__title input"
      (blur)="saveChanges()"
      [hidden]="!editTitleState"
      [value]="activeMeeting.title"
      type="text"
    />
    <button
      *ngIf="router.url.includes('flipcharts')"
      (click)="goToHomeview()"
      class="header__transparentButton"
    >
      <img class="header__icons" src="assets/icons/save.svg" />
    </button>
  </div>
  <div class="header__right">
    <button
      *ngIf="router.url.includes('flipcharts')"
      (click)="ToggleOfCourseChart()"
      class="header__transparentButton"
    >
      <img class="header__icons" src="assets/icons/star.svg" />
    </button>
    <button
      *ngIf="router.url.includes('flipcharts')"
      (click)="ToggleBookmarkChart()"
      class="header__transparentButton"
    >
      <img class="header__icons" src="assets/icons/bookmark.svg" />
    </button>
    <button
      class="header__transparentButton"
      [matMenuTriggerFor]="dropdownMenu"
    >
      <img class="header__dots" src="assets/icons/ellispsen.svg" />
    </button>
  </div>
</div>

<mat-menu class="menu-wrapper" #dropdownMenu="matMenu">
  <div mat-menu-item class="row-wrapper">
    <img class="smallicons" src="../../../assets/icons/link.svg" /> Link zum
    Teilen erstellen
  </div>
  <div mat-menu-item class="row-wrapper">
    <img class="smallicons" src="../../../assets/icons/export.svg" />
    Exportieren
  </div>
</mat-menu>
