<div class="item-box">
  <div class="item-input-wrapper">
    <label for="item-input">11.</label>
    <input type="text" id="item-input" name="item-input" />
  </div>

  <div class="bottom-wrapper">
    <button id="cancelbtn" class="submit-cancel-buttons">n</button>

    <div class="color-picker-wrapper">
      <input
        type="radio"
        name="color"
        id="shift-blue"
        class="radio-color-picker"
      />
      <label for="shift-blue" class="color-picker-lable"
        ><span class="shift-blue"></span
      ></label>

      <input
        type="radio"
        name="color"
        id="shift-turquoise"
        class="radio-color-picker"
      />
      <label for="shift-turquoise" class="color-picker-lable"
        ><span class="shift-turquoise"></span
      ></label>

      <input
        type="radio"
        name="color"
        id="shift-orange"
        class="radio-color-picker"
      />
      <label for="shift-orange" class="color-picker-lable"
        ><span class="shift-orange"></span
      ></label>

      <input
        type="radio"
        name="color"
        id="shift-yellow"
        class="radio-color-picker"
      />
      <label for="shift-yellow" class="color-picker-lable"
        ><span class="shift-yellow"></span
      ></label>

      <!--<input type="radio" id="random" name="color" />
      <label for="random"><span class="random"></span>z</label>-->
    </div>

    <button id="submitbtn" class="submit-cancel-buttons">y</button>
  </div>
</div>
