<div class="wrapper">
  <div cdkDropListGroup class="chartview">
    <app-chart
      class="chartview__charts"
      title="Problemstellung"
      [chartsType]="typeOfChart.p"
    ></app-chart>
    <app-chart
      class="chartview__charts"
      title="Info, Data, Sichtweisen"
      [chartsType]="typeOfChart.d"
    ></app-chart>
    <app-chart
      class="chartview__charts"
      title="Bedenken"
      [chartsType]="typeOfChart.c"
    ></app-chart>
    <app-chart
      class="chartview__charts"
      title="Lösungen"
      [chartsType]="typeOfChart.s"
    ></app-chart>

    <div
      *ngIf="_chartStateService.ofCourse"
      class="chartview__openCharts chartview__charts"
    >
      <p>OfCourses</p>
    </div>

    <div
      *ngIf="_chartStateService.bookmark"
      class="chartview__openCharts chartview__charts"
    >
      <p>Bookmarks</p>
    </div>
  </div>
</div>
