<div class="wrapper">
  <div cdkDropListGroup class="chartview">
    <app-chart class="chartview__charts" title="Problemstellung"></app-chart>
    <app-chart
      class="chartview__charts"
      title="Info, Data, Sichtweisen"
    ></app-chart>
    <app-chart class="chartview__charts" title="Bedenken"></app-chart>
    <app-chart class="chartview__charts" title="Lösungen"></app-chart>

    <div
      *ngIf="_chartStateService.ofCourse"
      class="chartview__openCharts chartview__charts"
    >
      <p>OfCourses</p>
    </div>

    <div
      *ngIf="_chartStateService.bookmark"
      class="chartview__openCharts chartview__charts"
    >
      <p>Bookmarks</p>
    </div>
  </div>
</div>
