@use "styles/colors" as c;

body {
  background-color: c.$main-background;
}

.dropList {
  position: relative;
  margin-top: 15px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.chartview {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 0% 2%;

  &__charts {
    width: 100%;
    margin: 10px;
  }

  &__openCharts {
    background-color: #fff;
    height: (100vh-15vh);
    border-radius: 15px;
    padding: 20px 10px;
    gap: 5px;
  }
}

.wrapper {
  height: (100vh-15vh);
}

p {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
