@use "styles/colors" as c;

body {
  background-color: c.$main-background;
}

.chartview {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 0% 2%;

  &__charts {
    width: 100%;
    margin: 10px;
  }
}

.wrapper {
  height: (100vh-15vh);
}
