@use "styles/colors" as c;

body {
  background-color: c.$main-background;
}

.chartview {
  display: flex;
  flex-direction: row;
  padding: 2%;

  &__charts {
    font-size: 30px;
    line-height: 36px;
    font-size: 30px;
    background-color: #fff;
    height: 500px;
    width: 100%;
    margin: 10px;
    border-radius: 15px;

    padding: 20px 10px;
    gap: 15px;
  }
}
