$main-background: #eff4f7;
$header-background: #899da0;
$header-buttons: #555555;
$turquoise: #72aba0;
$light-icons: #e6e6e6;
$darker-icons: #949494; //doppelt!
$item-background: #ededed;
$font-color: #183a48;

//shifts

$shift-lightBlue: #9ab8f0;
$shift-bllue: #5399f0;
$shift-skyblue: #96c6f1;
$shift-turquoise: #4ba695;
$shift-lightgreen: #b4c6c0;
$shift-yellow: #f2a03d;
$shift-lightorange: #e3ab6e;
$shift-orange: #db774c;
