$main-background: #eff4f7;
$header-background: #b2c0c3;
$dark-grey: #183a48;
$turquoise: #00aaa0;
$light-icons: #e6e6e6;
$darker-icons: #949494; //doppelt!
$item-background: #eff4f7;
$mid-grey: #899da0;

//shifts

$shift-colors: (
  shift-lightBlue: #a9c7ff,
  shift-blue: #5ba4ff,
  shift-turquoise: #00aaa0,
  shift-lightgreen: #caff5b,
  shift-yellow: #ffce22,
  shift-lightorange: #ffb237,
  shift-orange: #ff793f,
);
