$main-background: #e5e5e5;
$header-background: #949494;
$header-buttons: #555555;
$turquoise: #72aba0;
$light-icons: #e6e6e6;
$logo-background: #d9d9d9;
$darker-icons: #949494; //doppelt!
$item-background: #ededed;

//shifts
