.charts {
  background-color: #fff;
  height: (100vh-15vh);
  border-radius: 15px;
  padding: 20px 10px;
  gap: 5px;
  overflow: hidden;

  &__add-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__dropList {
    position: relative;
    margin-top: 15px;
    height: 71vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

p {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
