<div class="login-wrapper">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
      <div class="form-floating">
        <input
          type="text"
          name="username"
          class="form-control"
          id="floatingInput"
          placeholder="Benutzername"
          required
          ngModel
        />
        <label for="floatingInput">Benutzername</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          required
          ngModel
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button class="submitButton" type="submit">Anmelden</button>
    </form>
  </div>
</div>
