@use "../styles/_colors.scss" as c;
//@use "../node_modules/bootstrap/scss/bootstrap.scss" as b;

body {
  background-color: c.$main-background;
}

div {
  background-color: c.$main-background;
}

$body-bg: c.$main-background;
