@use "styles/colors" as c;

.button {
  background-color: c.$turquoise;
  color: white;
  height: 86px;
  width: 514px;
  border: none;
  font-size: 26px;
  line-height: 31px;
  border-radius: 15px;
  text-align: left;
  display: flex;
  align-items: center;

  &__icons {
    width: 27.6px;
    height: 24.6px;
    margin: 10px;
  }
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #02a399;
  transition: ease-in-out;
}
