@use "styles/colors" as c;

.item-box {
  background-color: c.$item-background;
  width: 314.4px;
  border-radius: 0px 16px 16px 0px;
  padding: 15px;
  display: flex;
}

.item-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.shift-color {
  display: block;
  background-color: map-get(c.$shift-colors, shift-blue);
  height: 98px;
  width: 10px;
  align-items: flex-start;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.right-wrapper {
  align-items: flex-start;
  margin-left: 10px;
}
