<div class="item-box">
  <div #coloredStripe [ngClass]="newItem.color" class="shift-color"></div>
  <div class="right-wrapper">
    <div class="counting-label">{{ newItem.number }}.</div>
    <div #test *ngIf="!editItemStatus" class="item-text">
      {{ newItem.description }}
    </div>
    <textarea
      #editInput
      class="inputField"
      (blur)="saveChanges()"
      [hidden]="!editItemStatus"
      [value]="newItem.description"
      type="texarea"
      oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
    ></textarea>
    <div class="icon-wrapper">
      <img
        class="icon-wrapper__star"
        *ngIf="newItem.ofCourse"
        src="../../../assets/icons/stargrey.svg"
      />
      <img
        class="icon-wrapper__bookmark"
        *ngIf="newItem.bookmark"
        src="../../../assets/icons/bookmarkgrey.svg"
      />
      <button
        class="menu"
        [matMenuTriggerFor]="x.menu"
        [matMenuTriggerData]="{ item: newItem }"
      >
        <img src="../../../assets/icons/ellispsengrey.svg" />
      </button>
    </div>
  </div>
</div>

<app-item-menu #x (editItemEvent)="editItem()"></app-item-menu>
