<div class="menu-wrapper">
  <div>
    <button>c</button><button>c</button><button>c</button><button>c</button>
  </div>
  <hr />
  <div class="row-wrapper">
    <img class="icons" src="assets/icons/bookmark.svg" />
    <p>Als Bookmark <br />markieren</p>
  </div>
  <hr />
  <div class="row-wrapper">
    <img class="icons" src="assets/icons/bookmark.svg" />
    <p>Als Bookmark <br />markieren</p>
  </div>
  <hr />
  <div class="row-wrapper">
    <img class="icons" src="assets/icons/bookmark.svg" />
    <p>Bearbeiten</p>
  </div>
  <hr />
  <div class="row-wrapper">
    <img class="icons" src="assets/icons/bookmark.svg" />
    <p>Übertragen</p>
  </div>
  <hr />
  <div class="row-wrapper" (click)="deleteItem()">
    <img class="icons" src="assets/icons/bookmark.svg" />
    <p>Löschen</p>
  </div>
</div>
